/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/*
 * Legal Disclaimer for Web licence
 *
 * Licence to use self-hosted webfonts for displaying dynamic text on specified website domains. Our package includes WOFF and WOFF2 font formats.
 *
 * Should the license page views limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following domain(s) and their subdomains:
 *
 * Silk.ge (monthly pageviews: <50K)
 * silkcredit.ge (monthly pageviews: <50K)
 * Silkbank.ge (monthly pageviews: <50K)
 *
 */

/*
 * Legal Disclaimer for App licence
 *
 * Licence to use fonts in native, web, or hybrid apps on mobile or stationary devices, for example personal computers, smart phones, entertainment systems, game consoles, medical instruments, etc.
 *
 * Should the license download limit be exceeded the license holder will be required to contact Lineto.com for an upgrade.
 * 
 * It is strictly prohibited to rename the font and to download or use these fonts in any other media. 
 * 
 * These Web fonts are licensed exclusively for the use on the following App(s):
 *
 * Silk (Total Downloads: <100k)
 *
 */

/* complete */

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Book";
  src: url("CircularXXWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXWeb-Bold";
  src: url("CircularXXWeb-Bold.woff2") format("woff2");
}


/* subset */

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Book";
  src: url("CircularXXSub-Book.woff2") format("woff2");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff") format("woff");
}

@font-face {
  font-family: "CircularXXSub-Bold";
  src: url("CircularXXSub-Bold.woff2") format("woff2");
}


